:root {
    --red: #f4ecff;
    --btncolor: #844fba;
    --darkred: #844fba;
    --platinum: #e5e5e5;
    --black: #2b2d42;
    --white: #fff;
    --thumb: #edf2f4;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font: 16px / 24px "Rubik", sans-serif;
    color: var(--black);
    background: var(--platinum);
    margin: 50px 0;
}

.container {
    width: 77%;
    padding: 0 15px;
    margin: 0 auto;
    display: inline-block;
}

h2 {
    font-size: 32px;
    margin-bottom: 1em;
}
.card-title{
    display: inline-block;
}

.submit_btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: var(--btncolor);
    padding: 6px 12px;
    border: 0;
    border-radius: 8px;
    transition: background 0.2s;
    height: 50px;
    width: 49%;
    font-size: 15px;
    bottom: 0;
}

.not_submit_btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    background: var(--btncolor);
    padding: 6px 12px;
    border: 0;
    border-radius: 8px;
    transition: background 0.2s;
    height: 50px;
    width: 32%;
    font-size: 15px;
    bottom: 0;
}

.cards {
    display: flex;
    padding: 25px 0px;
    height: 800px;
    list-style: none;
    overflow-x: scroll;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
}

.not_cards {
    display: inline-block;
    padding: 25px 0px;
    margin-left: 20px;
    height: 800px;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    padding: 20px;
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.2s;
}

.not_card{
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    padding: 20px;
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.2s;
    height: 750px;
}


.card:not(:last-child) {
    margin-right: 10px;
}

.card:hover {
    color: var(--btncolor);
    background: var(--red);
}

.card .card-content {
    display: inline-block;
    position:relative;
    vertical-align: top;
    margin: 1%;
    width: 31%;
    height: 650px;
}

.card .card-link-wrapper {
    margin-top: auto;
}

.card .card-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: var(--red);
    padding: 6px 12px;
    border-radius: 8px;
    transition: background 0.2s;
}

.card:hover .card-link {
    background: var(--darkred);
}

.cards::-webkit-scrollbar {
    height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
    border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
    background: var(--darkred);
}

.cards::-webkit-scrollbar-track {
    background: var(--thumb);
}

@media (min-width: 500px) {
    .card {
        flex-basis: calc(50% - 10px);
    }
    .not_card {
        flex-basis: calc(50% - 10px);
    }

    .card:not(:last-child) {
        margin-right: 20px;
    }
}

@media (min-width: 700px) {
    .card {
        flex-basis: calc(calc(100% / 3) - 20px);
    }
    .not_card {
        flex-basis: calc(calc(100% / 3) - 20px);
    }

    .card:not(:last-child) {
        margin-right: 30px;
    }
}

@media (min-width: 1100px) {
    .card {
        flex-basis: calc(96%);
    }
    .not_card {
        flex-basis: calc(96%);
    }

    .card:not(:last-child) {
        margin-right: 40px;
    }
}
#servercheck {
    width: 100%;
}
textarea {
    border: 1;
    border-color: var(--btncolor);
    border-radius: 8px;
    font-size: 0.1em;
}

input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    font-family: "Noto Sansf KR", sans-serif;

    color: #444;
    background-color: #fff;

    padding: 0.6em 1.4em 0.5em 0.8em;
    margin: 0;

    border: 1px solid #aaa;
    border-radius: 0.5em;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}

td input {
    width: 100%;
    margin: 5px;
    padding-left: 5px;
}

table{
    width: 100%;
}

#config-form{
    height: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    font-family: "Noto Sansf KR", sans-serif;

    color: #444;
    background-color: #fff;

    padding: 0.6em 1.4em 0.5em 0.8em;
    margin-left: 0.6em;

    border: 1px solid #aaa;
    border-radius: 0.5em;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}