<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="index.css">
    <script type='text/javascript' src=''></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
    <title>Document</title>
</head>
<body oncontextmenu='return false' class='snippet-body'> 
<div class="container">
    <h3>Terraform on WebApp</h3>
    <ul class="cards">
        <li class="card">
            <div>
                <h3 class="card-title">Server Console Log</h3>
                <div class="card-content"> 
                    <form id="health_check_form">
                        <textarea id="log-health" cols="40" rows="40"></textarea>
                        <button type="submit" class="submit_btn">Health Check</button>
                </form>
            </div>
        </div>
        </li>
        <li class="card">
            <div>
                <h3 class="card-title">Credentials & Config</h3>
                <div class="card-content">
                    <form id="config-form">
                        <table>
                            <tr>
                                <td>
                                    <label for="Api-Key">API Key</label> 
                                </td>
                                <td>
                                    <input type="text" name="api" id="api">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="Secret-Key">Secret Key</label> 
                                </td>
                                <td>
                                    <input type="text" name="secret" id="secret">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="Region">Region</label> 
                                </td>
                                <td>
                                    <input type="text" name="region" id="region">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="Project-Title">Project Title&nbsp;&nbsp;&nbsp;</label> 
                                </td>
                                <td>
                                    <input type="text" name="project" id="project">
                                </td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td>
                                    <textarea cols="40" rows="27" name="tf-contents" id="tf-contents"></textarea></p>
                                    <button type="submit" class="submit_btn">Create Providers.tf</button>
                                </td> 
                            </tr> 
                        </table> 
                    </form>
                </div>
            </div>
        </li>
        <li class="card">
            <div>
                <h3 class="card-title">VPC</h3>
                <div class="card-content">
                    <form id="vpc-form">
                        <table>
                            <tr>
                                <td>
                                    <label for="cidr">VPC_CIDR</label> 
                                </td>
                                <td>
                                    <input placeholder="10.0.0.0/16" type="text" name="cidr" id="cidr">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Subnets
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="pub">Public</label> 
                                </td>
                                <td>
                                    <select name ="pub" id="select_pub_subnets">
                                        <option value = 0 selected>0</option>
                                        <option value = 1>1</option>
                                        <option value = 2 >2</option>
                                        <option value = 3>3</option>
                                        <option value = 4>4</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="priv">Private</label> 
                                </td>
                                <td>
                                    <select name ="priv" id="select_priv_subnets">
                                        <option value = 0 selected>0</option>
                                        <option value = 1>1</option>
                                        <option value = 2 >2</option>
                                        <option value = 3>3</option>
                                        <option value = 4>4</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="db">Database</label> 
                                </td>
                                <td>
                                    <select name ="db" id="select_db_subnets">
                                        <option value = 0 selected>0</option>
                                        <option value = 1>1</option>
                                        <option value = 2 >2</option>
                                        <option value = 3>3</option>
                                        <option value = 4>4</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <table id = "table_pub_subnets">
                            <tr id = "pub_subnet_tr">
                            </tr>
                        </table>
                        <table id = "table_pirv_subnets">
                            <tr id = "priv_subnet_tr">
                            </tr>
                        </table>
                        <table id = "table_db_subnets">
                            <tr>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td>
                                    NatGateway
                                </td>
                                <td>
                                    <select name="select_nat_gateway" id="select_nat_gateway">
                                        <option value=0 selected>0</option>
                                        <option value=1 >1</option>
                                        <option value=2 >2</option>
                                        <option value=3 >3</option>
                                        <option value=4 >4</option>
                                        <option value=5 >5</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <table id = "table_nat_gateways">
                        </table>
                        <table>
                            <tr>
                                <td>
                                    <!-- <textarea cols="40" rows="27" name="tf-contents" id="tf-contents"></textarea></p> -->
                                    <button type="submit" class="submit_btn">Create VPC.tf</button>
                                </td> 
                            </tr> 
                        </table>
            
                    </form>
                </div>
            </div>
        </li>
        <li class="card">
            <div>
            </div>>
        </li>
        <li class="card">
            <div>
            </div>>
        </li>>
        <li class="card">
            <div>
            </div>
        </li>
        <li class="card">
            <div>
            </div>>
        </li>
        <li class="card">
            <div>  
            </div>>
        </li>
        <li class="card">
            <div> 
            </div>>
        </li>
    </ul>
</div>
</body>
</html>